.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.727889;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.720000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.720000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.720000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.708000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.989000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.708000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.008000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.051000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249319,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249324,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls6{letter-spacing:-1.726830px;}
.ls4{letter-spacing:-1.652000px;}
.ls7{letter-spacing:-0.425794px;}
.ls0{letter-spacing:0.000000px;}
.ls3{letter-spacing:0.608000px;}
.ls1{letter-spacing:0.640000px;}
.ls5{letter-spacing:3.665440px;}
.ls2{letter-spacing:24.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2{word-spacing:-24.000000px;}
.ws6{word-spacing:-3.665440px;}
.ws5{word-spacing:-1.652000px;}
.ws1{word-spacing:-0.640000px;}
.ws3{word-spacing:-0.608000px;}
.ws0{word-spacing:0.000000px;}
.ws4{word-spacing:1.652000px;}
.ws7{word-spacing:1.726830px;}
._4{margin-left:-3.384000px;}
._3{margin-left:-1.800000px;}
._1{width:1.120000px;}
._b{width:2.272573px;}
._a{width:3.592131px;}
._2{width:23.760000px;}
._7{width:50.720000px;}
._8{width:71.773200px;}
._6{width:96.992000px;}
._9{width:129.330000px;}
._c{width:141.670993px;}
._5{width:585.368000px;}
._0{width:2335.392000px;}
._d{width:2904.385456px;}
.fc2{color:rgb(255,255,255);}
.fc1{color:rgb(255,237,0);}
.fc0{color:rgb(60,60,59);}
.fs6{font-size:23.655200px;}
.fs4{font-size:28.000000px;}
.fs7{font-size:29.161200px;}
.fs0{font-size:32.000000px;}
.fs2{font-size:36.000000px;}
.fs3{font-size:56.000000px;}
.fs5{font-size:73.308800px;}
.fs1{font-size:240.000000px;}
.y0{bottom:0.000000px;}
.y2d{bottom:25.111300px;}
.y2f{bottom:26.933600px;}
.y30{bottom:28.608681px;}
.y2{bottom:35.579000px;}
.y2e{bottom:35.687500px;}
.y3{bottom:35.875000px;}
.y1{bottom:36.291000px;}
.y24{bottom:86.536100px;}
.y23{bottom:111.711900px;}
.y22{bottom:130.215900px;}
.y21{bottom:142.047900px;}
.y20{bottom:153.885800px;}
.y1f{bottom:165.717800px;}
.y1e{bottom:180.384500px;}
.y1d{bottom:198.888500px;}
.y1c{bottom:213.560500px;}
.y1b{bottom:232.064500px;}
.y1a{bottom:243.898400px;}
.y19{bottom:255.733400px;}
.y25{bottom:256.608400px;}
.y2c{bottom:269.871100px;}
.y18{bottom:270.402300px;}
.y2b{bottom:277.627000px;}
.y28{bottom:304.141600px;}
.y2a{bottom:329.091800px;}
.y26{bottom:348.059600px;}
.y27{bottom:370.465800px;}
.y29{bottom:419.347700px;}
.ye{bottom:567.387500px;}
.yd{bottom:580.383500px;}
.y16{bottom:580.419500px;}
.yc{bottom:593.379500px;}
.y15{bottom:593.415500px;}
.yb{bottom:606.375500px;}
.y14{bottom:606.411500px;}
.ya{bottom:619.371500px;}
.y13{bottom:619.407500px;}
.y9{bottom:632.367500px;}
.y12{bottom:632.403500px;}
.y8{bottom:645.363500px;}
.y11{bottom:645.399500px;}
.y7{bottom:658.359500px;}
.y10{bottom:658.395500px;}
.y6{bottom:671.355500px;}
.yf{bottom:671.391500px;}
.y17{bottom:695.193400px;}
.y5{bottom:733.355500px;}
.y4{bottom:808.963000px;}
.ha{height:17.221632px;}
.hb{height:21.258629px;}
.h2{height:22.720000px;}
.h8{height:22.736000px;}
.h7{height:25.984000px;}
.h4{height:28.548000px;}
.h5{height:29.232000px;}
.h6{height:42.560000px;}
.h9{height:53.370811px;}
.h3{height:170.400000px;}
.h0{height:841.890000px;}
.h1{height:842.000000px;}
.w1{width:1190.500000px;}
.w0{width:1190.550000px;}
.x0{left:0.000000px;}
.x2{left:50.313900px;}
.x7{left:60.250500px;}
.x11{left:62.271500px;}
.x8{left:65.035600px;}
.x9{left:70.859900px;}
.x5{left:155.170900px;}
.x13{left:239.075700px;}
.x4{left:253.625900px;}
.x1{left:291.817900px;}
.x6{left:304.697400px;}
.x12{left:336.751000px;}
.x15{left:434.908200px;}
.xb{left:449.298800px;}
.xe{left:470.476100px;}
.x10{left:479.553700px;}
.xc{left:494.609900px;}
.xd{left:496.027300px;}
.xf{left:502.309100px;}
.xa{left:518.705100px;}
.x16{left:622.437500px;}
.x14{left:1037.706848px;}
.x3{left:1078.417900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls6{letter-spacing:-2.302439pt;}
.ls4{letter-spacing:-2.202667pt;}
.ls7{letter-spacing:-0.567725pt;}
.ls0{letter-spacing:0.000000pt;}
.ls3{letter-spacing:0.810667pt;}
.ls1{letter-spacing:0.853333pt;}
.ls5{letter-spacing:4.887253pt;}
.ls2{letter-spacing:32.000000pt;}
.ws2{word-spacing:-32.000000pt;}
.ws6{word-spacing:-4.887253pt;}
.ws5{word-spacing:-2.202667pt;}
.ws1{word-spacing:-0.853333pt;}
.ws3{word-spacing:-0.810667pt;}
.ws0{word-spacing:0.000000pt;}
.ws4{word-spacing:2.202667pt;}
.ws7{word-spacing:2.302439pt;}
._4{margin-left:-4.512000pt;}
._3{margin-left:-2.400000pt;}
._1{width:1.493333pt;}
._b{width:3.030097pt;}
._a{width:4.789508pt;}
._2{width:31.680000pt;}
._7{width:67.626667pt;}
._8{width:95.697600pt;}
._6{width:129.322667pt;}
._9{width:172.440000pt;}
._c{width:188.894657pt;}
._5{width:780.490667pt;}
._0{width:3113.856000pt;}
._d{width:3872.513941pt;}
.fs6{font-size:31.540267pt;}
.fs4{font-size:37.333333pt;}
.fs7{font-size:38.881600pt;}
.fs0{font-size:42.666667pt;}
.fs2{font-size:48.000000pt;}
.fs3{font-size:74.666667pt;}
.fs5{font-size:97.745067pt;}
.fs1{font-size:320.000000pt;}
.y0{bottom:0.000000pt;}
.y2d{bottom:33.481733pt;}
.y2f{bottom:35.911467pt;}
.y30{bottom:38.144909pt;}
.y2{bottom:47.438667pt;}
.y2e{bottom:47.583333pt;}
.y3{bottom:47.833333pt;}
.y1{bottom:48.388000pt;}
.y24{bottom:115.381467pt;}
.y23{bottom:148.949200pt;}
.y22{bottom:173.621200pt;}
.y21{bottom:189.397200pt;}
.y20{bottom:205.181067pt;}
.y1f{bottom:220.957067pt;}
.y1e{bottom:240.512667pt;}
.y1d{bottom:265.184667pt;}
.y1c{bottom:284.747333pt;}
.y1b{bottom:309.419333pt;}
.y1a{bottom:325.197867pt;}
.y19{bottom:340.977867pt;}
.y25{bottom:342.144533pt;}
.y2c{bottom:359.828133pt;}
.y18{bottom:360.536400pt;}
.y2b{bottom:370.169333pt;}
.y28{bottom:405.522133pt;}
.y2a{bottom:438.789067pt;}
.y26{bottom:464.079467pt;}
.y27{bottom:493.954400pt;}
.y29{bottom:559.130267pt;}
.ye{bottom:756.516667pt;}
.yd{bottom:773.844667pt;}
.y16{bottom:773.892667pt;}
.yc{bottom:791.172667pt;}
.y15{bottom:791.220667pt;}
.yb{bottom:808.500667pt;}
.y14{bottom:808.548667pt;}
.ya{bottom:825.828667pt;}
.y13{bottom:825.876667pt;}
.y9{bottom:843.156667pt;}
.y12{bottom:843.204667pt;}
.y8{bottom:860.484667pt;}
.y11{bottom:860.532667pt;}
.y7{bottom:877.812667pt;}
.y10{bottom:877.860667pt;}
.y6{bottom:895.140667pt;}
.yf{bottom:895.188667pt;}
.y17{bottom:926.924533pt;}
.y5{bottom:977.807333pt;}
.y4{bottom:1078.617333pt;}
.ha{height:22.962177pt;}
.hb{height:28.344838pt;}
.h2{height:30.293333pt;}
.h8{height:30.314667pt;}
.h7{height:34.645333pt;}
.h4{height:38.064000pt;}
.h5{height:38.976000pt;}
.h6{height:56.746667pt;}
.h9{height:71.161081pt;}
.h3{height:227.200000pt;}
.h0{height:1122.520000pt;}
.h1{height:1122.666667pt;}
.w1{width:1587.333333pt;}
.w0{width:1587.400000pt;}
.x0{left:0.000000pt;}
.x2{left:67.085200pt;}
.x7{left:80.334000pt;}
.x11{left:83.028667pt;}
.x8{left:86.714133pt;}
.x9{left:94.479867pt;}
.x5{left:206.894533pt;}
.x13{left:318.767600pt;}
.x4{left:338.167867pt;}
.x1{left:389.090533pt;}
.x6{left:406.263200pt;}
.x12{left:449.001333pt;}
.x15{left:579.877600pt;}
.xb{left:599.065067pt;}
.xe{left:627.301467pt;}
.x10{left:639.404933pt;}
.xc{left:659.479867pt;}
.xd{left:661.369733pt;}
.xf{left:669.745467pt;}
.xa{left:691.606800pt;}
.x16{left:829.916667pt;}
.x14{left:1383.609130pt;}
.x3{left:1437.890533pt;}
}
